/* Estils per fons negre i mode fosc general */
body {
  background-color: #222;
  color: white;
}

/* Sobreescriu colors de Leaflet per combinació fosca */
.leaflet-container {
  background-color: #111;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #222;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.leaflet-bar a {
  background-color: #222;
  color: white;
  border-color: #444;
}

.leaflet-bar a:hover {
  background-color: #333;
}
