/* Estils bàsics */
body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
}

/* Colors pel mapa - mode fosc */
.leaflet-container {
  background-color: #333;
  border: 2px solid #444;
  border-radius: 5px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #222;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.leaflet-bar a {
  background-color: #222;
  color: white;
  border-color: #444;
}

.leaflet-bar a:hover {
  background-color: #333;
}

/* Estils personalitzats */
.app-title {
  font-family: "Courier New", monospace;
  text-shadow: 0 0 5px #0066ff;
  letter-spacing: 1px;
}
