/* Estils per fons negre i mode fosc general */
body {
  background-color: #222;
  color: white;
}

/* Sobreescriu colors de Leaflet per combinació fosca */
.leaflet-container {
  background-color: #333;
}

.leaflet-popup-content-wrapper {
  background-color: #333;
  color: white;
}

.leaflet-popup-tip {
  background-color: #333;
}
